services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    volumes:
      - db_data:/data
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=sqlite:////data/landing_bay.db

  frontend:
    build:
      context: frontend
    ports:
      - 3000:3000
    environment:
      - PYTHON_API_URL=http://backend:8000
    depends_on:
      - backend

volumes:
  db_data:
